/* GENERAL STYLES */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 2.3rem;
}

p {
  color: #696969;
  font-size: 0.9rem;
  line-height: 1.6;
}
button {
  background-color: #2fa38d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-weight: bold;
}

button:hover {
  background-color: #8db38b;
}

img {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #56876d;
}

/* END OF GENERAL STYLES */

/* UTILITY CLASSES */

.nobullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.grid {
  display: grid;
}

.grid-two-cols-30-30 {
  grid-template-columns: repeat(2, 30%);
}

.grid-two-cols-5-40 {
  grid-template-columns: 5% 40%;
}

.grid-two-cols-7-28 {
  grid-template-columns: 7% 28%;
}

.gap-xs {
  gap: 1rem;
}

.gap-sm {
  gap: 2rem;
}

.gap-lg {
  gap: 5rem;
}

.w-100pc {
  width: 100%;
}

.w-70pc {
  width: 70%;
}

.font-bold {
  font-weight: 700;
}

.text-xs {
  font-size: 0.7rem;
}

.text-70pc {
  font-size: 70%;
}

.text-vw-xxs {
  font-size: 1.5vw;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.absolute {
  position: absolute;
}

.m0 {
  margin: 0;
}

.mt-sm {
  margin-top: 0.5rem;
}

.mt-md {
  margin-top: 2.5rem;
}

.mt-lg {
  margin-top: 5rem;
}

.mb-m {
  margin-bottom: 2.5rem;
}

.my-m {
  margin: 2.5rem 0;
}

.button-with-arrow {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

/* END OF UTILITY CLASSES */

/* Navbar */
.navbar {
  margin: 2rem;
  font-weight: 500;
}

.brand-logo img {
  height: 40px;
}

.hamburger-menu {
  right: 1rem;
  top: 2.5rem;
  display: none;
  width: 30px;
  height: 20px;
}

.hamburger-line {
  background-color: #2fa38d;
  width: 100%;
  height: 3px;
}

/* Hero */

.hero-image {
  height: 75vh;
  background-size: cover;
  background-image: url(./assets/hero-image.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  color: #fff;
}

/* MAIN CONTENT */

.main-content.grid-two-cols-30-30 {
  grid-auto-flow: dense;
}

/* (4n-1) so that 3rd, 7th, 11th etc grid cells are put in the second column, 
    which are the cells containning the text.
    Having set grid:auto-flow dense means that the images will come and fill the first column that these
    text cells don't fill.
    */

.col-alternate:nth-child(4n-1) {
  grid-column: 2;
}

.grid-image img {
  max-width: 100%;
}

/* END OF MAIN CONTENT */

/* TESTIMONY */

.glassdoor button {
  background-color: #04ab3e;
  width: 130px;
  font-weight: normal;
}

.glassdoor button:hover {
  background-color: #8db38b;
}

/* END OF TESTIMONY  */

/* CARD */

.card {
  height: 250px;
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 1.5px 20px 3px #d3d3d3;
  margin: 15px;
  padding: 0 3rem;
}

.card > h2 {
  word-break: break-word;
}

footer p {
  margin: 0;
  font-size: 0.7rem;
}

footer a {
  color: #696969;
  text-decoration: underline;
}

/* END OF CARD */

/* STYLING FOR SMALLER DEVICES */
@media (max-width: 768px) {
  /* UTILITY CLASSES */

  .sm-grid-one-col {
    grid-template-columns: repeat(1, 80%);
    gap: 1rem;
  }

  .sm-text-vw-s {
    font-size: 2.5vw;
  }

  .sm-text-tw-xs {
    font-size: 2vw;
  }

  .sm-w-vw-80 {
    width: 80vw;
  }

  /* END OF UTILITY CLASSES */

  /* Navbar */
  .hamburger-menu {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 0.8rem;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-end-button {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
  }

  .navbar-links.active {
    display: block;
  }

  .navbar-end-button.active {
    display: block;
  }
  /* Hero */
  .hero-text h1 {
    text-align: center;
  }
  /* Grid */

  .col-alternate:nth-child(4n-1):nth-child(4n-1) {
    grid-column: 1;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    width: 80%;
  }
}
