* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button {
  background-color: #2fa38d;
  color: #fff;
  border: none;
  border-radius: 10%;
  padding: 0.75rem;
  font-weight: bold;
}

button:hover {
  background-color: #8db38b;
}

.button-with-arrow {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  font-weight: bold;
}

.brand-logo img {
  height: 40px;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.navbar li a {
  text-decoration: none;
  color: #000;
}

.navbar-links li a:hover {
  color: #56876d;
}

.hamburger-menu {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 20px;
}

.hamburger-line {
  background-color: #2fa38d;
  width: 100%;
  height: 3px;
}

/* Hero */

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-size: cover;
  background-image: url(./assets/hero-image.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
}

@media (max-width: 900px) {
  .hamburger-menu {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 0.8rem;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-end-button {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
  }

  .navbar-links.active {
    display: block;
  }

  .navbar-end-button.active {
    display: block;
  }
}
