* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button {
  background-color: #2fa38d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-weight: bold;
}

button:hover {
  background-color: #8db38b;
}

.button-with-arrow {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  font-weight: bold;
}

.brand-logo img {
  height: 40px;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.navbar li a {
  text-decoration: none;
  color: #000;
}

.navbar-links li a:hover {
  color: #56876d;
}

.hamburger-menu {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 20px;
}

.hamburger-line {
  background-color: #2fa38d;
  width: 100%;
  height: 3px;
}

/* Hero */

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-size: cover;
  background-image: url(./assets/hero-image.webp);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
}

/* Grid */

.grid-container {
  display: grid;
  grid: auto-flow dense / repeat(2, 30%);
  justify-content: center;
  align-items: start;
  gap: 5rem;
  margin-top: 2.5rem;
}

/* (4n-1) so that 3rd, 7th, 11th etc grid cells are put in the second column, 
    which are the cells containning the text.
    Having set grid:auto-flow dense means that the images will come and fill the first column that these
    text cells don't fill.
    */

.grid:nth-child(4n-1) {
  grid-column: 2;
}

.grid-text p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #696969;
}

.grid-text h1 {
  margin: 0;
  font-size: 2.3rem;
}

.grid-image img {
  border-radius: 10px;
  max-width: 100%;
}

.image-as-background {
  display: flex;
  /* flex-flow: nowrap; */
  align-items: center;
  /* justify-content: flex-start; */
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}

.image-as-background > div {
  position: absolute;
  max-width: 200px;
  margin: 0;
  padding: 0.5rem;
  /* word-break: break-word; */
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 900px) {
  /* Navbar */
  .hamburger-menu {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 0.8rem;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-end-button {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
  }

  .navbar-links.active {
    display: block;
  }

  .navbar-end-button.active {
    display: block;
  }
  /* Hero */
  .hero-text h1 {
    text-align: center;
  }
  /* Grid */
  .grid-container {
    grid: auto-flow / repeat(1, 80%);
    gap: 1rem;
  }

  .grid:nth-child(4n-1) {
    grid-column: 1;
  }

  .grid-image:nth-child(-n + 4) {
    margin-bottom: 2.5rem;
  }

  .image-as-background > div {
    max-width: 100px;
    font-size: 0.4rem;
  }

  .image-as-background button {
    font-size: 0.7rem;
    max-width: 80px;
  }
}
